<template>
  <section class="bg-white border-b py-8">
    <div class="container max-w-5xl mx-auto m-8">
      <h1
        class="w-full my-2 text-5xl font-bold leading-tight text-center text-gray-800"
      >
        Our CI/CD story
      </h1>
      <div class="w-full mb-4">
        <div
          class="h-1 mx-auto gradient w-64 opacity-25 my-0 py-0 rounded-t"
        ></div>
      </div>
      <feature-right
        headline="2017"
        content="First attempt to create an orchestration tool for managing the Application Life-cycles. Tool was based on Stackstorm, HEAT, simplified ETSI Tosca, Ansible and Generator for translating Tosca into HOT templates."
      >
        <img src="~assets/img/2017.svg?inline" alt slot="svg"/>
      </feature-right>
      <feature-left
        headline="2018"
        content="Cooperation with external vendor and implementing Orchestrator following the ETSI standards."
      >
        <img src="~assets/img/2018.svg?inline" alt slot="svg"/>
      </feature-left>
      <feature-right
        headline="2019"
        content="Using the experience from previous projects we are developing modular and simple LCM tool (ALiEn) powedred by GitLabCI. As a building blocks are used Python, shell scripts, Terraform and Ansible. ALiEn is able to deploy, destroy, horizontally scale and heal the Applications deployed in OpenStack cloud."
      >
        <img src="~assets/img/2019.svg?inline" alt slot="svg"/>
      </feature-right>
      <feature-left
        headline="2020"
        content="Application lifecycle engine (ALiEn) comes alive, running a cloud application in production mode. Its lifecycle is fully ensured by the CI/CD chain at all stages, from development to production.
The team expanded and focused on containerization. We are working on the deployment of 5G Core components to the container environment applying the GitOps toolkit."
      >
        <img src="~assets/img/2020.svg?inline" alt slot="svg"/>
      </feature-left>
      <feature-right
        headline="2021"
        content="After trials and tests from previous years the containerization became a new standard for the team and we started with evaluation of GitOps, continuous delivery, registry, dependency manager or other CI/CD tools for Kubernetes."
      >
        <img src="~assets/img/2021.svg?inline" alt slot="svg"/>
      </feature-right>
    </div>
  </section>
</template>

<script>
import FeatureRight from '@/components/FeatureRight'
import FeatureLeft from '@/components/FeatureLeft'

export default {
  name: 'Features',
  components: {
    'feature-right': FeatureRight,
    'feature-left': FeatureLeft
  }
}
</script>
