<template>
  <div>
    <feedback-content />
  </div>
</template>

<script>
import FeedbackContent from '@/components/FeedbackContent'
export default {
  name: 'Feedback',
  components: {
    'feedback-content': FeedbackContent
  }
}
</script>