<template>
  <div class="container mx-auto flex-wrap flex-col md:flex-row items-center max-w-4xl m-8 py-10  ">
    <section class="bg-gray-100 border-2 border-gray-300 text-gray-800 rounded-lg shadow">
        <div class="w-full p-10 flex flex-col">
            <form action="https://formspree.io/f/myybvqlk" method="POST">
              <p class="px-3 leading-normal text-xl">
                <label for="full-name">Full Name</label>
              </p>
              <p class="px-3 py-4 leading-normal text-base rounded-lg">
                <input style="min-width: 203px" class="border w-2/5"  type="text" name="name" id="full-name" placeholder="First and Last" required="">
              </p>
              <p class="px-3 leading-normal text-xl">
                <label>Your email:</label>
              </p>
              <p class="px-3 py-4 leading-normal text-base">
                  <label>
                      <input style="min-width: 203px"  class="border w-2/5" type="text" name="_replyto" placeholder="email@example.com">
                  </label>
              </p>
              <p class="px-3 leading-normal text-xl">
              <label>Your message:</label>
              </p>
              <p class="flex px-3 py-4 leading-normal text-base rounded-lg">
                  <label class="w-full">
                      <textarea class="border w-full" rows="10" cols="80" name="message"></textarea>
                  </label>
              </p>
              <button type="submit" value="send" class="mx-auto lg:mx-0 hover:underline bg-magenta text-white font-bold rounded-full my-6 py-4 px-8 shadow-lg">Send</button>
          </form>
        </div>
    </section>
  </div>
</template>

<script>
export default {
  name: 'FeedbackContent'
}
</script>

<style>
  .rounded-lg {
    border-radius: 30px;
  }
 </style>
