<template>
  <div class="pt-24">
    <div
      class="container px-3 mx-auto flex flex-wrap flex-col md:flex-row items-center"
    >
      <!--Left Col-->
      <div
        class="flex flex-col w-full md:w-3/5 justify-center items-start text-center text-white md:text-left"
      >
        <p class="uppercase tracking-loose w-full">Pan-net Devops Documentation</p>
        <h1 class="my-4 text-5xl font-bold leading-tight">
          Introduction to CI/CD
        </h1>
        <p class="leading-normal text-2xl mb-8">
          Learn what is CI/CD and how it can help you to deliver your software faster.
        </p>
        <button
          class="mx-auto lg:mx-0 hover:underline bg-white text-gray-800 font-bold rounded-full my-6 py-4 px-8 shadow-lg"
          >
          <nuxt-link to="/intro">Read more</nuxt-link>
        </button><br><br>
      </div>
      <!--Right Col-->
      <div class="w-full md:w-2/5 py-6 text-center">
        <img class="w-full md:w-5/5 z-50" src="~/assets/img/cicd-transparent-magenta.png"/>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'HeroContent'
}
</script>
