<template>
  <a
    :class="classList"
    class="no-underline hover:no-underline font-bold text-2xl lg:text-4xl"
    href="#"
  >
<svg class="h-16 fill-current inline" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 261.72 70.87" style="enable-background:new 0 0 261.72 70.87;" xml:space="preserve">
<style type="text/css">
	.st0{fill:none;}
	.st1{fill:#FFFFFF;}
</style>
<g id="BoundingBox">
	<rect class="st0" width="261.72" height="70.87"/>
</g>
<g id="Logo_and_Slogan">
	<g>
		<polygon class="st1" points="135.14,33.73 136.88,33.73 136.88,40.73 139.96,40.73 139.96,42.35 135.14,42.35 		"/>
		<polygon class="st1" points="140.88,33.73 141.75,33.73 142.62,33.73 142.62,42.35 140.88,42.35 		"/>
		<polygon class="st1" points="146.05,35.34 146.05,37.29 149.13,37.29 149.13,38.9 146.05,38.9 146.05,42.35 144.31,42.35
			144.31,33.73 149.25,33.73 149.25,35.34 		"/>
		<polygon class="st1" points="151.95,35.34 151.95,37.16 155.15,37.16 155.15,38.77 151.95,38.77 151.95,40.73 155.28,40.73
			155.28,42.35 150.21,42.35 150.21,33.73 155.28,33.73 155.28,35.34 		"/>
		<polygon class="st1" points="159.71,33.73 160.58,33.73 161.45,33.73 161.45,42.35 159.71,42.35 		"/>
		<path class="st1" d="M162.44,39.91h1.73c0.15,0.72,0.63,1.01,1.26,1.01c0.75,0,1.12-0.41,1.12-0.97c0-0.54-0.36-0.81-1.03-0.99
			l-0.99-0.28c-1.38-0.37-1.92-1.37-1.92-2.45c0-1.65,1.23-2.68,2.82-2.68c1.74,0,2.68,1.01,2.85,2.59h-1.7
			c-0.12-0.64-0.48-0.97-1.15-0.97c-0.59,0-1.04,0.33-1.04,0.94c0,0.61,0.4,0.83,0.88,0.95l0.99,0.27c1.28,0.33,2.08,1.28,2.08,2.51
			c0,1.73-1.28,2.7-2.9,2.7C163.65,42.54,162.6,41.61,162.44,39.91z"/>
		<polygon class="st1" points="174.18,35.34 174.18,37.29 177.26,37.29 177.26,38.9 174.18,38.9 174.18,42.35 172.44,42.35
			172.44,33.73 177.38,33.73 177.38,35.34 		"/>
		<path class="st1" d="M178.19,38.04c0-2.79,1.29-4.5,3.65-4.5c2.36,0,3.65,1.71,3.65,4.5s-1.29,4.5-3.65,4.5
			C179.48,42.54,178.19,40.82,178.19,38.04z M183.68,38.04c0-1.88-0.65-2.84-1.84-2.84c-1.2,0-1.84,0.95-1.84,2.84
			s0.64,2.84,1.84,2.84C183.04,40.88,183.68,39.92,183.68,38.04z"/>
		<path class="st1" d="M189.27,39.2h-0.84v3.15h-1.74v-8.61h3.18c1.68,0,2.86,0.99,2.86,2.73c0,1.32-0.68,2.21-1.73,2.55l1.82,3.33
			h-1.93L189.27,39.2z M188.43,37.59h1.35c0.68,0,1.15-0.4,1.15-1.12s-0.46-1.12-1.15-1.12h-1.35V37.59z"/>
		<path class="st1" d="M196.41,39.91h1.73c0.15,0.72,0.63,1.01,1.26,1.01c0.75,0,1.12-0.41,1.12-0.97c0-0.54-0.36-0.81-1.03-0.99
			l-0.99-0.28c-1.38-0.37-1.92-1.37-1.92-2.45c0-1.65,1.23-2.68,2.82-2.68c1.74,0,2.68,1.01,2.85,2.59h-1.7
			c-0.12-0.64-0.48-0.97-1.15-0.97c-0.59,0-1.04,0.33-1.04,0.94c0,0.61,0.4,0.83,0.88,0.95l0.99,0.27c1.28,0.33,2.08,1.28,2.08,2.51
			c0,1.73-1.28,2.7-2.9,2.7C197.62,42.54,196.56,41.61,196.41,39.91z"/>
		<polygon class="st1" points="209.95,33.73 209.95,42.35 208.21,42.35 208.21,38.77 205.13,38.77 205.13,42.35 203.39,42.35
			203.39,33.73 205.13,33.73 205.13,37.16 208.21,37.16 208.21,33.73 		"/>
		<path class="st1" d="M215.91,40.68h-2.97l-0.55,1.66h-1.77l2.94-8.61h1.74l2.94,8.61h-1.77L215.91,40.68z M215.37,39.06l-0.9-2.67
			h-0.08l-0.9,2.67H215.37z"/>
		<path class="st1" d="M221.49,39.2h-0.84v3.15h-1.74v-8.61h3.18c1.68,0,2.86,0.99,2.86,2.73c0,1.32-0.68,2.21-1.73,2.55l1.82,3.33
			h-1.93L221.49,39.2z M220.65,37.59H222c0.68,0,1.15-0.4,1.15-1.12s-0.46-1.12-1.15-1.12h-1.35V37.59z"/>
		<polygon class="st1" points="226.05,33.73 226.92,33.73 227.79,33.73 227.79,42.35 226.05,42.35 		"/>
		<polygon class="st1" points="236.14,33.73 236.14,42.35 234.39,42.35 231.29,36.96 231.21,36.96 231.21,42.35 229.47,42.35
			229.47,33.73 231.24,33.73 234.33,39.15 234.41,39.15 234.41,33.73 		"/>
		<path class="st1" d="M244.62,37.81v0.48c0,2.85-1.28,4.25-3.46,4.25c-2.5,0-3.77-1.74-3.77-4.5c0-2.76,1.34-4.5,3.73-4.5
			c1.86,0,3.12,1.11,3.37,2.72h-1.86c-0.19-0.64-0.75-1.06-1.51-1.06c-1.23,0-1.92,0.98-1.92,2.84s0.66,2.84,1.96,2.84
			c0.92,0,1.53-0.43,1.68-1.57h-1.57v-1.5H244.62z"/>
		<polygon class="st1" points="245.56,40.36 246.55,40.36 247.54,40.36 247.54,42.35 245.56,42.35 		"/>
	</g>
	<g>
		<polygon class="st1" points="22.78,33.73 18.79,33.73 14.17,33.73 14.17,42.34 22.78,42.34 		"/>
		<path class="st1" d="M14.6,14.17l-0.43,15l2.26,0.39c0.42-4.42,1.58-7.7,3.48-9.84c2-2.24,4.75-3.41,8.29-3.51V47.6
			c0,2.74-0.38,4.52-1.18,5.34c-0.68,0.7-1.83,1.13-3.45,1.29c-0.48,0.04-1.3,0.06-2.46,0.06v2.4H42.1v-2.4
			c-1.16,0-1.98-0.02-2.46-0.06c-1.62-0.16-2.77-0.59-3.45-1.29c-0.8-0.82-1.19-2.6-1.19-5.34V16.21c3.54,0.1,6.3,1.27,8.3,3.51
			c1.9,2.14,3.06,5.42,3.48,9.84l2.26-0.39l-0.43-15H14.6z"/>
		<polygon class="st1" points="40.43,33.73 40.43,42.34 49.04,42.34 49.04,33.73 44.62,33.73 		"/>
		<polygon class="st1" points="66.26,33.73 66.26,42.34 74.87,42.34 74.87,33.73 70.68,33.73 		"/>
		<polygon class="st1" points="92.09,33.73 92.09,42.34 100.7,42.34 100.7,33.73 96.29,33.73 		"/>
	</g>
</g>
</svg>
  </a>
</template>

<script>
export default {
  name: 'Logo',
  props: {
    isStickable: {
      type: Boolean,
      default: false
    },
    isSticky: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    classList() {
      let classList = ''
      if (this.isStickable) {
        classList = this.isSticky ? 'text-gray-800' : 'text-white'
      } else {
        classList = 'text-orange-600'
      }
      return classList
    }
  }
}
</script>
