<template>
  <section class="bg-white border-b py-8">
    <div class="container mx-auto flex flex-wrap pt-4 pb-12">
      <h1
        class="w-full my-2 text-5xl font-bold leading-tight text-center text-gray-800"
      >
        DevOps documentation
      </h1>
      <div class="w-full mb-4">
        <div
          class="h-1 mx-auto gradient w-64 opacity-25 my-0 py-0 rounded-t"
        ></div>
      </div>
      <teaser-column :rows="3" link="/before_you_start">
        <template v-slot:icon><img src="~/assets/img/beforestart_icon.png" width="48" height="48"/></template>
        <template v-slot:headline>Before you start</template>
        <template v-slot:content>Before you take a deep dive into the documentation, please take a moment to learn some basic information about the technology and tools we are using.</template>
      </teaser-column>
      <teaser-column :rows="3" link="/getting_started">
        <template v-slot:icon><img src="~/assets/img/gettingstarted_icon.png" width="48" height="48"/></template>
        <template v-slot:headline>Getting started</template>
        <template v-slot:content>In this section you will learn the basics about running a CI/CD Pipeline and what steps must be taken to automate integration and deployment.</template>
      </teaser-column>
      <teaser-column :rows="3" link="/lcm">
        <template v-slot:icon><img src="~/assets/img/cicd_icon.png" width="48" height="48"/></template>
        <template v-slot:headline>CI/CD concepts</template>
        <template v-slot:content
          ><ul class="template_ul">
            <li><nuxt-link class="hover:underline" to="/lcm#lifecycle-management">Lifecycle Management</nuxt-link></li>
            <li><nuxt-link class="hover:underline" to="/multistage_pipeline#multistage-pipeline">Multistage pipeline</nuxt-link></li>
            <li><nuxt-link class="hover:underline" to="/private_runners#private-ci-runners">Private runners</nuxt-link></li>
          </ul></template
        >
      </teaser-column>
      <teaser-column :rows="3" link="/prerequisites">
        <template v-slot:icon><img src="~/assets/img/prereqs_icon.png" width="48" height="48"/></template>
        <template v-slot:headline>Prerequisites</template>
        <template v-slot:content>Check your needs to properly start your DevOps journey.</template>
      </teaser-column>
      <teaser-column internal="false" :rows="3" link="https://magenta-cloud.pan-net.cloud">
        <template v-slot:icon><img src="~/assets/img/security_icon.png" width="48" height="48"/></template>
        <template v-slot:headline>Security</template>
        <template v-slot:content>Security in CI/CD is often omitted in favor of faster delivery times. We recommend to take this topic seriously and read what security experts at Magenta CI/CD have to say about it.</template>
      </teaser-column>
      <teaser-column :rows="3" link="/contribute">
        <template v-slot:icon><img src="~/assets/img/contribute_icon.png" width="48" height="48"/></template>
        <template v-slot:headline>Contribute</template>
        <template v-slot:content
          ><ul class="template_ul">
            <li><nuxt-link class="hover:underline" to="/contribute#how-to-contribute">How to contribute</nuxt-link></li>
            <li><nuxt-link class="hover:underline" to="/contribute#general-contribution-flow">General contribution flow</nuxt-link></li>
            <li><nuxt-link class="hover:underline" to="/contribute#recommendations">Recommendations</nuxt-link></li>
            <li><nuxt-link class="hover:underline" to="/contribute#licensing">Licensing</nuxt-link></li>
          </ul></template
        >
      </teaser-column>
    </div>
  </section>
</template>

<script>
import TeaserColumn from '@/components/TeaserColumn'

export default {
  name: 'Teasers',
  components: {
    'teaser-column': TeaserColumn
  }
}
</script>
<style>
.template_ul li {
  list-style-type: circle;
}
</style>
