<template>
  <div
    :class="classList"
    class="w-full p-6 flex flex-col flex-grow flex-shrink"
  >
    <div
      class="flex-1 py-6 bg-white rounded-t rounded-b-none overflow-hidden shadow"
    >
          <nuxt-link v-if="isInternal" :to="link" class="flex flex-wrap no-underline hover:no-underline">
              <div class="px-6">
                  <slot name="icon" />
              </div>
              <div class="w-full text-gray-800 font-bold text-xl py-4 px-6">
                  <slot name="headline" />
              </div>
              <p class="text-gray-800 text-base px-6">
                  <slot name="content" />
              </p>
              <p class="text-gray-800 text-base px-6">
                  <slot name="links" />
              </p>
          </nuxt-link>
          <a v-if="!isInternal" :href="link" class="flex flex-wrap no-underline hover:no-underline">
              <div class="px-6">
                  <slot name="icon" />
              </div>
              <div class="w-full text-gray-800 font-bold text-xl py-4 px-6">
                  <slot name="headline" />
              </div>
              <p class="text-gray-800 text-base px-6">
                  <slot name="content" />
              </p>
              <p class="text-gray-800 text-base px-6">
                  <slot name="links" />
              </p>
          </a>
    </div>
    <div
      v-if="renderAction"
      class="flex-none mt-auto bg-white rounded-b rounded-t-none overflow-hidden shadow p-6"
    >
      <div class="flex items-center justify-end">
        <button
          class="mx-auto lg:mx-0 hover:underline gray text-white font-bold rounded-full my-6 py-4 px-8 shadow-lg"
          @click.prevent="onClick"
        >
          <nuxt-link :to="link">{{ action }}</nuxt-link>
        </button>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'TeaserColumn',
    props: {
      rows: {
        type: Number,
        required: true,
        validator: value => {
          return value >= 1 && value <= 6
        }
      },
      action: {
        type: String,
        default: ''
      },
      link: {
        type: String,
        default: '/'
      },
      internal: {
          type: String,
          default: "true"
      }
    },
    computed: {
      classList() {
        return `md:w-1/${this.rows}`
      },
      renderAction() {
        return this.action !== ''
      },
      isInternal() {
          return this.internal === "true" || this.internal === "True"
      }
    },
    methods: {
      onClick() {
        // NOTE: is fired, but not handled in this template
        this.$emit('clicked')
      }
    }
  }
</script>
