<template>
  <footer class="bg-black">
    <div class="container mx-auto px-8">
      <div class="w-full flex flex-col md:flex-row py-6">
        <div class="flex-1 mb-6">
          <img src="~/assets/img/T_Logo_Claim_INT_RGB_n.png" width="236.34" height="64"/>
        </div>
        <div class=".flex-row-reverse  mx-20 mt-2 text-white">
          <p class="footer-category md:mb-6">Pan-Net</p>
          <ul class="list-reset mb-6">
            <li class="mt-2 inline-block mr-2 md:block md:mr-0">
              <font-awesome-icon :icon="['fab', 'linkedin']" size="lg"/>
                <a
                  href="https://www.linkedin.com/company/dt-pan-net/"
                  class="footer-link"
                  >Linkedin</a
                >
            </li>
            <li class="mt-2 inline-block mr-2 md:block md:mr-0">
              <font-awesome-icon :icon="['fab', 'gitlab']" size="lg"/>
                <a
                  href="https://gitlab.com/pan-net1"
                  class="footer-link"
                  >GitLab.com</a
                >
            </li>
            <li class="mt-2 inline-block mr-2 md:block md:mr-0">
              <font-awesome-icon :icon="['fas', 'shield-alt']" size="lg"/>
                <a
                  href="https://magenta-cloud.pan-net.cloud/"
                  class="footer-link"
                  >CI/CD Security</a
                >
            </li>
          </ul>
        </div>
        <div class=".flex-row-reverse  mx-20 mt-2 text-white">
          <p class="footer-category md:mb-6">Contact</p>
          <ul class="list-reset mb-6">
            <li class="mt-2 inline-block mr-2 md:block md:mr-0">
              <font-awesome-icon :icon="['far', 'paper-plane']" size="lg"/>
                <a
                  href = "mailto: devops@pan-net.cloud"
                  class="footer-link"
                  >devops@pan-net.cloud</a
                >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</template>

<script>
import Logo from '@/components/Logo'

export default {
  name: 'TheFooter',
  components: {
    logo: Logo
  }
}
</script>

<style>
@import "assets/css/footer.css";
</style>
