<template>
  <nav id="header" :class="headerClassList" class="fixed w-full z-30 top-0 bg-magenta">
    <div
      class="w-full container mx-auto flex flex-wrap items-center justify-between mt-0 py-2"
    >
      <div class="pl-4 flex items-center">
        <nuxt-link to="/"><img src="~/assets/img/T_Logo_Claim_INT_RGB_n.png" width="236.34" height="64"/></nuxt-link>
      </div>
      <div class="block lg:hidden pr-4">
        <button
          class="flex items-center p-1 text-white hover:text-gray-900"
          @click.prevent.stop="onToggleClick"
        >
          <svg
            class="fill-current h-6 w-6"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <title>Menu</title>
            <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/>
          </svg>
        </button>
      </div>
      <div
        :class="navContentClassList"
        class="w-full flex-grow lg:flex lg:items-center lg:w-auto lg:block mt-2 lg:mt-0 lg:bg-transparent text-center p-4 lg:p-0 z-20"
      >
        <div class="search_block" id="lunr-search-block">
          <lunr-search :style="navSearchLunrStyle"
                       class="search"
                       placeholder="Search">
            <template v-slot:default="{ result, index, maxScore, meta }">
              <nuxt-link :to="meta.href" v-on:click.native="onNuxtLinkClick">
                <div class="top_part">
                  {{ meta.title }}
                </div>
                <div class="down_part">
                  {{ meta.page }}
                </div>
              </nuxt-link>
            </template>
          </lunr-search>
        </div>
        <ul class="head-link-ul list-reset lg:flex justify-end flex-1 items-center lg:text-white no-underline">
          <li class="search_block" :style="navSearchButton">
            <button
              @click.prevent.stop="onSearchClick"
            >
              <img src="~assets/img/search.svg?inline" alt slot="svg" width="25"/>
            </button>
          </li>
          <li class="mr-3">
            <nuxt-link
              v-on:click.native="onNuxtLinkClick"
              class="head-link-a inline-block hover:font-medium py-2 px-4 uppercase"
              to="/intro"
            >Read
            </nuxt-link
            >
          </li>
          <li class="mr-3">
            <nuxt-link
              v-on:click.native="onNuxtLinkClick"
              class="inline-block hover:font-medium py-2 px-4 uppercase"
              to="/contribute"
            >Contribute
            </nuxt-link
            >
          </li>
          <li class="mr-3">
            <nuxt-link
              v-on:click.native="onNuxtLinkClick"
              class="inline-block hover:font-medium py-2 px-4 uppercase"
              to="/feedback"
            >Feedback
            </nuxt-link
            >
          </li>
          <li class="mr-3">
            <nuxt-link
              v-on:click.native="onNuxtLinkClick"
              class="inline-block hover:font-medium py-2 px-4 uppercase"
              to="/updates"
            >Updates
            </nuxt-link
            >
          </li>
        </ul>
      </div>
      <div class="stage_info" :style="stage_info_style">
            <h1> Stage environment.  </h1>
            <h1> {{ commit_id }} / {{ branch }} </h1>
      </div>
    </div>
    <hr class="border-b border-gray-100 opacity-25 my-0 py-0"/>
  </nav>

</template>

<script>
  import Logo from '@/components/Logo'

  export default {
    name: 'TheHeader',
    components: {
      logo: Logo,
      LunrSearch: () => import('lunr-module/search')
    },
    data() {
      return {
        commit_id: `${process.env.commit_id}`,
        branch: `${process.env.branch}`,
        scrollY: 0,
        isOpen: false,
        search: false,
      }
    },
    computed: {
      isStage() {
        return (`${process.env.stage}` === "true" || `${process.env.stage}` === "True")
      },
      isSticky() {
        return this.scrollY > 10
      },
      headerClassList() {
        return this.isSticky ? 'bg-white shadow' : ''
      },
      stage_info_style() {
        return this.isStage ? '' : 'display: none;'
      },
      navActionClassList() {
        return this.isSticky ? 'gray text-white' : 'bg-white text-gray-800'
      },
      navSearchLunrStyle() {
        let hidden = '';
        if (!this.search && !this.isOpen) {
          hidden = ' display: none;'
        }
        return hidden;
      },
      navSearchButton() {
        return this.isOpen ? ' display: none;' : ''
      },
      navContentClassList() {
        let classList = this.isSticky ? 'bg-white' : 'bg-gray-100';
        if (!this.isOpen) {
          classList += ` hidden`
        }
        return classList
      }
    },
    methods: {
      checkSize() {
        let searchElement = document.getElementById('lunr-search')
        let parentBlock = document.getElementById('lunr-search-block')
        if (searchElement.value.length < 3) {
          parentBlock.getElementsByTagName("ul")[0].style.display = "none"
        } else {
            async function display(block) {
              await new Promise(r => setTimeout(r, 200));
              block.getElementsByTagName("ul")[0].style.display = "block"
            }
            display(parentBlock)
          }
      },
      onScroll() {
        this.scrollY = window.scrollY
      },
      onToggleClick() {
        this.isOpen = !this.isOpen
      },
      onSearchClick() {
        this.search = !this.search
      },
      onNuxtLinkClick() {
        this.isOpen = false;
      }
    },
    mounted() {
      this.scrollY = window.scrollY;
      document.addEventListener('input', this.checkSize)
      document.addEventListener('click', this.onClick)
      document.addEventListener('scroll', this.onScroll)
    },
    beforeDestroy() {
      document.removeEventListener('input', this.checkSize, true)
      document.removeEventListener('click', this.onClick, true)
      document.removeEventListener('scroll', this.onScroll, true)
    }
  }

</script>
<style>
  .search h1 {
    @apply text-gray-700;
  }

  .bg-magenta {
    background: #E20074;
  }

  .head-link-ul:lg {
    @apply text-white;
  }

  .head-link-a:hover {
    @apply font-medium;
  }

  .search {
    margin-top: 0.3rem;
  }

  .search input {
    width: 100%;
  }

  .search_block {
    width: 100%;
    height: 100%;
    display: contents;

  }

  .search_block button {
    height: 40px;
    width: 40px;
    border: none;
    outline: none;
  }

  .search ul,
  .search li {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .search span {
    text-align: right;
  }

  .lunr-search {
    width: 100% !important;
  }

  .lunr-input {
    background-size: 5% !important;
    background: #fff !important;
  }

  .lunr-results {
    width: 100% !important;
    margin: 0rem 0px 0px !important;
    line-height: 1.6em !important;
  }

  .lunr-result .top_part {
    width: 95%;
    float: left;
    text-align: left;
    margin-left: 5%;
  }

  .lunr-result .down_part {
    width: 95%;
    float: left;
    text-align: left;
    margin-left: 5%;
    font-size: 12px;
    margin-top: -0.6rem;
  }

  .search li:nth-of-type(1n+11) {
    display: none !important;
  }

.search ul {
    display: none;
}

.stage_info {
  position: absolute;
  bottom: 0;
  font-size: .6em;
  letter-spacing: .2em;
  color: #fff;
  left: 0;
  vertical-align: bottom;
  padding-left: .7em;
  line-height: 1.15;
  padding-bottom: .23em;
}
</style>
