<template>
        <div class="sticky" style="top: 70px">
            <div
                    class="container mx-auto sticky top-0 w-auto overflow-y-auto mt-0 py-4"
            >
                <div class="lg:overflow-y-auto lg:scrolling-touch lg:h-auto lg:block lg:relative lg:top-24">
                    <h2
                            class="uppercase text-black font-h2 text-lg tracking-wider p-4"
                    >
                        DevOps as a Culture
                    </h2>
                    <vue-tree-navigation
                            id="navigation_box"
                            class="text-gray-800 text-base m-8 block"
                            :items="items"
                            :defaultOpenLevel="defaultOpenLevel"
                    />
                </div>
            </div>
        </div>
</template>

<script>
export default {
    data() {
        return {
            items: [
                {name: 'What is CI/CD', path: '/intro'},
                {name: 'Before you start', path: '/before_you_start'},
                {name: 'Getting started', path: '/getting_started'},
                {
                    name: 'CI/CD Concepts', children: [
                        {name: 'Lifecycle Management', path: '/lcm'},
                        {name: 'Multistage pipeline', path: '/multistage_pipeline'},
                        {name: 'Private CI runners', path: '/private_runners'}
                    ]
                },
                {name: 'Prerequisites', path: '/prerequisites'},
                {name: 'Contribute', path: '/contribute'},
                {
                    name: 'More on the topic', children: [
                        {name: 'Application lifecycle basics', path: '/application_lifecycle_basics'}
                    ]
                }
            ],
            defaultOpenLevel: 1
        }
    },
}
</script>

<style>
@import "assets/css/navbar.css";
</style>
