<template>
    <aside
           class="col-span-1 w-0 invisible lg:visible border-b border-0 m-6 pt-2 lg:w-1/4 flex items-start flex-col">
        <div class="sticky" style="top: 110px">
            <h2 class="uppercase text-black font-h2 text-sm dark:text-gray-600 uppercase tracking-wide">
                On this page
            </h2>
            <scrollactive active-class="active" :offset="80" :duration="800" bezier-easing-value=".5,0,.35,1" class="mt-4">
                <ul class="pt-3">
                    <li :class="{'pl-4': link.depth === 3}"
                        class="toc-list text-gray-900 first:border-t-0"
                        v-for="link of toc"
                        :key="link.id">

                        <nuxt-link :to="`/${page_address}#${link.id}`"
                                   class="scrollactive-item text-gray-800 hover:text-blue-700 block text-sm transition-transform ease-in-out duration-600 transform hover:translate-x-1 ml-2 pb-2">
                            {{ link.text }}
                        </nuxt-link>
                    </li>
                </ul>
            </scrollactive>
        </div>
    </aside>

</template>
<script>

export default {
    props: ["toc", "page_address"]
}

</script>
<style>

.active {
    --text-opacity: 1;
    color: #000;
    color: rgba(0, 0, 0, var(--text-opacity));
    font-weight: 500;
}

</style>
