html {
    font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
      Roboto, 'Helvetica Neue', Arial, sans-serif;
    font-size: 16px;
    word-spacing: 1px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
  }
  
  .gradient {
    /* background: linear-gradient(90deg, #858384 0%, #ebeaeb 100%);  */
    background: linear-gradient(90deg, #858384 0%, #79003E 100%);
  }
  .gray {
    background: #b5b4b5;
  }
  .magenta{
    background: #E20074;
  }