/* .nuxt-content {
  @apply leading-relaxed text-sm;
}

@screen sm {
  .nuxt-content {
    @apply text-base;
  }
}

@screen lg {
  .nuxt-content {
    @apply text-lg;
  }
}*/

.nuxt-content {
  @apply text-gray-700;
}

/* Headers */
.nuxt-content {
  @apply;
}

.nuxt-content h1,
.nuxt-content h2 {
  @apply text-xl my-6 font-semibold;
}

.nuxt-content h3,
.nuxt-content h4,
.nuxt-content h5,
.nuxt-content h6 {
  @apply text-lg my-3 font-semibold;
}

@screen sm {
  .nuxt-content h1,
	.nuxt-content h2 {
    @apply text-2xl;
  }

  .nuxt-content h3,
	.nuxt-content h4,
	.nuxt-content h5,
	.nuxt-content h6 {
    @apply text-xl;
  }
}


/* Links */

.nuxt-content a {
  @apply text-blue-600;
}

.nuxt-content a:hover {
  @apply underline;
}


/* Paragraph */

.nuxt-content p {
  @apply mb-4;
}


/* Lists */

.nuxt-content ul,
.nuxt-content ol {
  @apply mb-4 ml-8;
}

.nuxt-content li>p,
.nuxt-content li>ul,
.nuxt-content li>ol {
  @apply mb-0;
}

.nuxt-content ol {
  @apply list-decimal;
}

.nuxt-content ul {
  @apply list-disc;
}


/* Blockquotes */

.nuxt-content blockquote {
  @apply p-2 mx-6 bg-gray-100 mb-4 border-l-4 border-gray-400 italic;
}

.nuxt-content blockquote>p {
  @apply mb-0;
}


/* Tables */

.nuxt-content td,
.nuxt-content th {
  @apply px-2 py-1 border border-gray-400;
}

.nuxt-content tr:nth-child(odd) {
  @apply bg-gray-100;
}

.nuxt-content table {
  @apply mb-6;
}

/* Wrap any inline highlights `that are really long`, but don't modify
   the setting for codeblocks (inside ```), which are rendered in as:
   <pre><code>...
*/

.nuxt-content :not(pre)>code.language-text {
	white-space: pre-line;
}

.nuxt-content div span.filename {
  text-decoration: underline
}

.nuxt-content iframe {
  @apply absolute top-0 left-0 w-full h-full;
}

.resp-container {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
}

/* purgecss end ignore */
