/* 
 credits https://misrob.github.io/vue-tree-navigation/#/examples/this
*/

.NavigationLevel__children {
  padding-left: 10px;
}

.NavigationLevel__parent {
  padding-bottom: 5px;
  padding-left: 5px;
  margin-left: -26px; 
}

.NavigationItem {
  color: #545454;
  padding: 0;
}

.NavigationItem--active {
  color: #e10075;
}

.NavigationToggle {
  position: right;
}

.NavigationToggle__icon {
  border-color: #e10075;
}
