<template>
    <div class="leading-normal tracking-normal gradient">
        <the-header/>
        <div class="bg-white border-b py-24">
            <div class="container mx-auto flex flex-col lg:flex-row py-8  px-6 lg:px-0 items-start">
                <div class="col-span-1 w-full lg:w-1/4 border-b lg:border-0 mb-6 lg:mb-0 pb-6 lg:pb-0 pr-8 lg:contents justify-center flex items-start flex-col">
                    <the-side-nav class="lg:w-1/4" />
                </div>
                <div class="w-full lg:w-3/4 leading-normal column-0 lg:column-2 pt-1">
                    <div>
                        <Nuxt/>
                    </div>
                </div>
            </div>
        </div>
        <the-footer/>
    </div>
</template>

<script>
import TheHeader from '@/components/TheHeader.vue'
import TheFooter from '@/components/TheFooter.vue'
import TheSideNav from '@/components/TheSideNav.vue';

export default {
    components: {
        'the-header': TheHeader,
        'the-footer': TheFooter,
        'the-side-nav': TheSideNav
    }
}
</script>

<style>
@import "assets/css/markdown.css";
</style>
