<template>
  <div class="leading-normal tracking-normal gradient">
    <the-header />
      <div class="bg-white border-b py-24">
        <div class="container mx-auto lg:w-2/4 px-8 justify-center">
            <div>
              <Nuxt />
            </div>
        </div>
      </div>
    <the-footer/>   
  </div>
</template>

<script>
import TheHeader from '@/components/TheHeader.vue'
import TheFooter from '@/components/TheFooter.vue'
import TheSideNav from '@/components/TheSideNav.vue';

export default {
  components: {
    'the-header': TheHeader,
    'the-footer': TheFooter,
    'the-side-nav': TheSideNav
  }
}
</script>

<style>
@import "assets/css/markdown.css";
</style>
