<template>
    <div>
        <article style="display:flex">
            <div style="float:left" class="lg:w-2/3 mr-3">
                <nuxt-content class="nuxt-content-container " :document="article"/>
            </div>
            <tagSideNav :toc="article.toc" :page_address="article.href"/>
        </article>
        <p class="mt-8" v-if="!!article.created">Last updated: {{ getDate(article) }}</p>
    </div>
</template>

<script>
import TheTagSideNav from '@/components/TheTagSideNav'
import article from "~/layouts/article";

export default {
    layout: 'article',
    components: {
        tagSideNav: TheTagSideNav
    },
    async asyncData({$content, params}) {
        return $content('articles', params.slug).fetch()
            .then((art) => {
                return {article: art}
            })
            .catch(() => {
                return {article: ""}
            })
    },
    methods: {
        getDate(object) {
            const options = {year: 'numeric', month: 'long', day: 'numeric'}
            return new Date(object.created).toLocaleDateString('en', options)
        }
    }
}
</script>
