<template>
    <div>
        <div class="container max-w-4xl mx-auto m-8">
            <article>
                <nuxt-content :document="article"/>
            </article>
        </div>
        <div>
            <feedback/>
        </div>
    </div>
</template>

<script>
  import Feedback from '@/components/Feedback'

  export default {
    name: 'Feedback',
    scrollToTop: true,
    components: {
      feedback: Feedback
    },
    async asyncData({$content}) {
      const article = await $content('articles/feedback').fetch();

      return {
        article
      }
    }
  }

</script>
