<template>
  <div>
    <hero />
    <teasers />
    <features />
    <call-to-action />
  </div>
</template>

<script>
  import Hero from '@/components/Hero'
  import Features from '@/components/Features'
  import Teasers from '@/components/Teasers'
  import CallToAction from '@/components/CallToAction'

  export default {
    layout: 'landing',
    name: 'LandingPage',
    components: {
      hero: Hero,
      features: Features,
      teasers: Teasers,
      'call-to-action': CallToAction
    },
    scrollToTop: true,
    async asyncData({ $content, params }) {
      const article = await $content('articles', params.slug).fetch();

      return { article }
    },
  }
</script>
