<template>
  <div>
    <h1 class="text-gray-800 text-xl uppercase racking-wider my-10">Last updates:</h1>
    <ul>
      <li v-for="article of articles" :key="article.slug" class="hover:text-blue-800">
        <nuxt-link :to="{ path: ('/' + article.href ), params: { slug: article.slug }}">
          <img :src="article.img" />
          <div class="py-8">
            <h2 class="text-base uppercase tracking-wider">{{ article.title}}</h2>
            <p class="text-gray-800" v-if="!!article.created">
              Updated:
              {{ getDate(article) }}
            </p>
            <p class="text-gray-800 my-4">{{ getFirstParagraph(article.body) }}</p>
          </div>
        </nuxt-link>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  async asyncData({ $content, params }) {
    const articles = await $content('articles')
      .only([
        'title',
        'img',
        'slug',
        'href',
        'created',
        'body',
      ])
      .where({ created: { $contains: [''] } })
      .sortBy('created', 'desc')
      .fetch()

    return {
      articles,
    }
  },
  scrollToTop: true,
  methods: {
    getDate(date) {
      const options = { year: 'numeric', month: 'long', day: 'numeric' }
      return new Date(date.created).toLocaleDateString('en', options)
    },
    getFirstParagraph(content) {
      for (let i = 0; i < content.children.length; i++) {
        var child = content.children[i]
        if (child.type === 'element' && child.tag === 'p') {
          if (child.children.length > 0) {
            return child.children[0].value
          } else {
            return ''
          }
        }
      }
      return ''
    },
  },
}
</script>
